#banner
    .banner_content
        %h1 File Cabinet
        %p Your life's work. Organized, always.
        %button= link_to "Enter", new_user_registration_path

#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organize
                %p jehuehinwodnwfefbhsb sbfjbfiwbdiwbjsncjebvje fniuwbfanbcujevguwbfiancbs ebuebfjsbcuebuwadjw vjegbwihdiandjwbgewjf snv eigeihwucsjvb evjenviwjfsnvcje je ge gei neivjevneikvnefn dfrhj3iheqiqdhweifn jk3gbneifne fjewfbniebf eifbneif wifbnwifniwfjowfb ekivne

#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to "Join Now", new_user_registration_path